<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcpurchase.dao.HcUserMapper">

	<!-- 查询语句 -->
	<select id="queryLogin" resultType="com.hcpurchase.entity.HcUser" parameterType="list">
		select user_unum,user_password from hc_user where user_unum=#{userUnum} and user_password=#{userPassword}
	</select>
	
	<!-- 添加语句 -->
	<insert id="addUser">
		insert into user(id,name,age,unum,pwd,status) values(#{id},#{name},#{age},#{unum},#{pwd},#{status})
	</insert>
	
	<!-- 修改语句 -->
	<update id="updateUser">
		update user set name='java' where id=2
	</update>
	
	<!-- 删除语句 -->
	<delete id="deleteUser">
		delete from user where id=17
	</delete>
	
	
</mapper>
